/* =========================
    globales
   ========================= */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
} 


/* =========================
    header
   ========================= */



   /* =========================
    main
   ========================= */



   /* =========================
    footer
   ========================= */




   /* =========================
    mobile
   ========================= */


   /* tablet */

   @media (max-width: 900px) {

}


   /* movil */

   @media (max-width: 640px) {
    
}